@import './fonts.scss';

$body_background: #11121c;
$gray: #acabab; 
$dark_gray: #7a7a7a;
$blue: #0b568e;
$dark_blue: #084a799a;
$input_background: rgb(49 70 84 / 10%);
$input_border: rgba(42, 124, 179, 0.164);

.title {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: bold;
    color: $blue;
    text-decoration: none;
}

.gray-text {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    color: $gray;
    text-decoration: none;
}

.dark-gray-text {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    color: $dark_gray;
    text-decoration: none;
}

