@import './fonts.scss';

$body_background: #11121c;
$gray: #acabab; 
$dark_gray: #7a7a7a;
$green: #0e7948c9;
$dark_blue: #084a799a;
$dark_green: #0b482cb1;
$main_background: rgb(49 70 84 / 10%);
$main_border: rgb(73 99 116 / 16%);

.title {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: bold;
    color: $green;
    text-decoration: none;
}

.gray-text {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    color: $gray;
    text-decoration: none;
}

.li-text {
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 500;
    color: $gray;
    text-decoration: none;
}

.dark-gray-text {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: $dark_gray;
    text-decoration: none;
}

.label-text {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: $dark_gray;
    text-decoration: none;
}

