@import '../../../assets/variables.scss';

.textarea {
    textarea {
        padding: 17px 24px;
        width: 650px;
        height: 150px;
        background-color: $main_background;
        border: 2px solid $main_border;
        outline: none;
        resize: none;
        border-radius: 5px;
        font-size: 18px;
        font-family: 'Montserrat';
        font-weight: 500;
        color: $gray;
        transition: 0.2s;
    
        &:hover,
        &:focus {
            border: 2px solid $dark_blue;
        }
    }
}