header {
    .headerContent {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;

        &Menu {
            ul {
                display: flex;
            }
        }
    }
}