.mainContent {
    margin-top: 120px;
    &Box {
        margin-top: 43px;
        p:nth-child(2) {
            margin-top: 8px;
            font-size: 16px;
        }
        textarea {
            margin-top: 13px;
        }
    }
}